html, body {
    margin: 0;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.field {
    margin: 5px 0;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;  
    display: flex;
}

.field, button {
    width: 100%;
    max-width: 800px;
}

.field-descriptor {
    margin-top: 0;
    min-width: 200px;
    width: 40%;
}

.field-input, .radio-block {
    padding: 5px;
    min-width: 200px;
    width: 60%;
    font-family: Helvetica, Arial, sans-serif;
}

#page {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    min-width: 450px;
}

button {
    margin-top: 10px;
    height: 50px;
    width: 200px;
}

.radio-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -50px;
}

.radio-block {
    align-items: start;
    justify-content: center;
}

.radio-btn {
    width: 20px;
    margin-left: -40px;
    padding: 5px;
    min-width: 200px;
    width: 60%;
    font-family: Helvetica, Arial, sans-serif;
}

.radio-lbl {
    margin-left: -80px;
}

.field-category {
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    padding: 5px;
    flex: 1;
}

.sub-field {
    display: flex;
    width: 100%;
    align-items: center;
}

.sub-field > p {
    margin-top: auto; /* or any other margin you prefer */
}

.sub-field > .field-descriptor {
    width: 20%;
}

.sub-field > .current-item {
    width: 70%;
}

.sub-field > .field-descriptor, .sub-field > .current-item {
    display: block;
}


.indent {
    padding-left: 20px;
}

.remove-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.back-end-field {
    margin: 5px 5px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;  
    display: flex;
    height: 70px;
    align-items: center;
}

.back-end-field-descriptor {
    margin-right: 0px;
    width: 100px;
}

#field-order {
    width: 40px;
}

#field-order, #field-name {
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#back-end-input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back-end-page {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    min-width: 450px;
}

#current-fields {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Adjust the gap between items as needed */
    justify-content: center; /* Center the items horizontally */
    margin-top: 30px;
}

.wrapper-div {
    display: flex;
    flex-direction: column;
    flex: 1; /* Distribute available space equally among items */
    min-width: 220px; /* Minimum width for each item */
    max-width: calc(33.333% - 10px); /* Maximum width for each item, considering the gap */
}

.field-key {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.sub-field-descriptor {
    width: 80px;
    font-weight: bold;
}

/* CSS to target tablets and mobiles */
@media (max-width: 768px) {
    html, body {
        font-size: 20px;
    }

    .field {
        flex-direction: column;
        width: 80%; /* Set it lower as space needed to use thumb to scroll down for larger forms */
    }

    .field-descriptor
    {
        width: 90%;
        min-width: 30px;
    }

    .field-input {
        width: 95%;
        font-size: 20px;
    }

    input {
        height: 50px;
    }

    textarea {
        height: 150px;
    }

    #page {
        min-width: 0;
    }

    button {
        font-size: 20px;
    }

    .radio-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: middle;
    }

    .radio-btn {
        width: 10px;
        display: inline-block;
        margin-left: 0;
    }
    
    .radio-lbl {
        width: 150px;
        margin-left: -40px;
        margin-right: auto;
    }

    #back-end-input-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .back-end-field {
        padding: 10px;  
        display: flex;
        height: 70px;
        align-items: center;
        width: 250px;
        justify-content: left;
    }

    .back-end-field-descriptor {
        width: 80px;
    }

    #radio-field {
        height: 120px;
    }

    .wrapper-div {
        min-width: 260px; /* Minimum width for each item */
    }

    #current-fields{
        align-items: center;
        margin-left: auto; /* Auto left margin for horizontal centering */
        margin-right: auto; /* Auto right margin for horizontal centering */
    }
}
